body{
     background: none;
     
}
.container{
     width: 100vw;
    top: 500px;
    left: 170px;

}
#search{
    top: 870px;
    left: 170px;
}
.para{
    left:225px ;
}
#p{
    top: 300px;
    left:210px;
    font-size: 40px;
    height: auto;

}
#pow{
    top: 1110px;
    color: black;
    left:250px;
    font-size: 35px;
}
.navbar{
     background: none;
     overflow: auto;
     width: 100vw;
}
.navbar p{
    background: none;

}
.ri p{

    background:black;
    color: white;

}
.ri{
    background: none;
     left: 50px;
}
.login{
    position:absolute;
    left:1001px;
    top: 1000px;
}
.contact{
    top: 1001px;
}
#r{
    color: rgb(231, 225, 225);
}
#r{
    background: rgb(14, 14, 13);
}
